.avatar,
.another__avatar{
  width: 300px;
  height: 250px;
  border: 3px solid red;
}

.avatar{
  object-fit: cover;
}

.another__avatar{
  background-image: url(./../images/dog.png);
  background-size: cover;
}

